// HERE_API_KEY = ....
// GEOAPIFY_API_KEY = 981d0abb15c748fd8bae863fd0c89733
// This file should be renamed to .env and the API key should be filled in for the application to work properly.
// pick either HERE or GEOAPIFY depending on which geocoding service you want to use. The app is currently set up to use Geoapify by default.
// Change import for geocode_api_... in main.py to switch between geocoding services.